    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página dinámica</title>
    
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    
</body>
</html>